@import url(https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap);
/* Notification styles */
.notification {
  display: block;
  color: white;
  position: fixed;
  font-weight: bold;
  bottom: 80px;
  right: 50px;
  min-width: 150px;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: bottom 0.3s ease-in-out;
  animation: fadeIn 2s ease-in-out;
}
.notification .close {
  margin-left: 1rem;
  float: right;
  cursor: pointer;
  font-size: 2em;
}
.notification .close:hover {
  color: black;
}

.success {
  background-color: #238737 !important;
}

.warning {
  background-color: #ffc107 !important;
}

.error {
  background-color: #cc3d38 !important;
}

/* Message Modal styles */
.message-modal {
  display: block; /* Hidden by default */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  overflow: auto; /* Enable scrolling if the content overflows */
}
.message-modal .modal-content {
  background-color: #fff;
  margin: 15% auto;
  border: 1px solid #888;
  width: 50%;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  /* Modal button styles */
}
.message-modal .modal-content .modal-header {
  color: white;
  padding: 4%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.message-modal .modal-content .modal-header .icon {
  font-size: 50px;
  margin-right: 10px;
}
.message-modal .modal-content .modal-header .icon .success {
  background-color: #4caf50 !important; /* Green for success */
}
.message-modal .modal-content .modal-header .icon .warning {
  background-color: #ffc107 !important; /* Yellow for warning */
}
.message-modal .modal-content .modal-header .icon .error {
  background-color: #ff5733 !important; /* Red for error */
}
.message-modal .modal-content .modal-header h2 {
  margin-top: 1%;
}
.message-modal .modal-content .modal-body {
  padding: 20px;
  color: #454d61;
}
.message-modal .modal-content .modal-buttons {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.message-modal .modal-content .modal-buttons .close-button {
  background-color: #e65061;
  color: #fff;
  font-weight: 400;
  border: none;
  padding: 10px 20px;
  margin-right: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.message-modal .modal-content .modal-buttons .redirect-button {
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*  styling scrollbars  */
/*  SIDEBAR STARTS HERE  */
root::-webkit-scrollbar {
  width: 5px;
  height: 6px;
}

root::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #a5aaad;
  border-radius: 10px;
}

root::-webkit-scrollbar-thumb {
  background: #3ea175;
  border-radius: 10px;
}
root::-webkit-scrollbar-thumb:hover {
  background: #a5aaad;
}

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.text-primary-p {
  color: #a5aaad;
  font-size: 14px;
  font-weight: 700;
}

.font-bold {
  font-weight: 700;
}

.text-title {
  color: #2e4a66;
}

.text-lightblue {
  color: #469cac;
}

.text-red {
  color: #cc3d38;
}

.text-yellow {
  color: #a98921;
}

.text-green {
  color: #149d9b;
}

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 0.8fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas: "sidebar nav nav nav" "sidebar main main main";
}
.container .navbar {
  background: #149d9b;
  grid-area: nav;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px 0 30px;
  border-bottom: 1px solid lightgray;
}
.container .navbar .nav_icon {
  display: none;
}
.container .navbar .nav_icon > i {
  font-size: 26px;
  color: white;
}
.container .navbar .navbar__left {
  visibility: hidden;
}
.container .navbar .navbar__left > a {
  margin-right: 30px;
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-weight: 700;
}
.container .navbar .navbar__left .active_link {
  color: #265acc;
  border-bottom: 3px solid #265acc;
  padding-bottom: 12px;
}
.container .navbar .navbar__right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .navbar .navbar__right > a {
  margin-left: 20px;
  text-decoration: none;
}
.container .navbar .navbar__right > a > i {
  color: #a5aaad;
  font-size: 16px;
  border-radius: 50px;
  background: #ffffff;
  padding: 7px;
}
.container .navbar .navbar__right .rounded-wrapper {
  border-radius: 50%;
  overflow: hidden;
  width: 30px;
  height: 30px;
  background: white;
}
.container .navbar .navbar__right .rounded-wrapper img {
  width: inherit;
}
.container main {
  background: #f3f4f6;
  grid-area: main;
  overflow-y: auto;
}
.container #sidebar {
  background: #020509;
  grid-area: sidebar;
  overflow-y: auto;
  padding: 20px;
  transition: all 0.5s;
}
.container #sidebar .sidebar__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #f3f4f6;
  margin-bottom: 30px;
}
.container #sidebar .sidebar__title > div > img {
  width: 75px;
  -o-object-fit: contain;
     object-fit: contain;
}
.container #sidebar .sidebar__title > div > h1 {
  font-size: 18px;
  display: inline;
}
.container #sidebar .sidebar__title > i {
  font-size: 18px;
  display: none;
}
.container #sidebar .sidebar__img {
  display: flex;
  align-items: center;
}
.container #sidebar .sidebar__menu > h2 {
  color: #3ea175;
  font-size: 16px;
  margin-top: 15px;
  margin-bottom: 5px;
  padding: 0 10px;
  font-weight: 700;
}
.container #sidebar .sidebar__link {
  color: #f3f4f6;
  padding: 10px;
  border-radius: 3px;
}
.container #sidebar .sidebar__link > a {
  text-decoration: none;
  color: #a5aaad;
  font-weight: 700;
}
.container #sidebar .sidebar__link > i {
  margin-right: 10px;
  font-size: 18px;
}
.container #sidebar .sidebar__link .maintenance_mode_switch {
  width: 50px;
  height: 26px;
  bottom: 2px;
  display: inline;
}
.container #sidebar .sidebar__link .maintenance_mode_switch button {
  width: 50px;
  height: 26px;
  border-radius: 10%;
  background: #149d9b;
  color: white;
  margin-left: 2%;
  cursor: pointer;
}
.container #sidebar .sidebar__link .maintenance_mode_switch .red {
  background-color: #cc3d38 !important;
  color: white !important;
}
.container #sidebar .active_menu_link {
  background: rgba(20, 157, 155, 0.3);
  color: #149d9b;
}
.container #sidebar .active_menu_link a {
  color: #149d9b !important;
}
.container #sidebar .sidebar__logout {
  margin-top: 20px;
  padding: 10px;
  color: #e65061;
}
.container #sidebar .sidebar__logout > a {
  text-decoration: none;
  color: #e65061;
  font-weight: 700;
  text-transform: uppercase;
}
.container #sidebar .sidebar__logout > i {
  margin-right: 10px;
  font-size: 18px;
}
.container #sidebar .sidebar_responsive {
  display: inline !important;
  z-index: 9999 !important;
  left: 0 !important;
  position: absolute;
}

@media only screen and (max-width: 978px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas: "nav" "main";
  }
  #sidebar {
    display: none;
  }
  .sidebar__title > i {
    display: inline;
  }
  .nav_icon {
    display: inline;
  }
}
@media only screen and (max-width: 855px) {
  .main__cards {
    grid-template-columns: 1fr;
    gap: 10px;
    margin-bottom: 0;
  }
  .charts {
    grid-template-columns: 1fr;
    margin-top: 30px;
  }
}
@media only screen and (max-width: 480px) {
  .navbar__left {
    display: none;
  }
}
.main__container {
  padding: 20px 35px;
}

.main__title {
  display: flex;
  align-items: center;
}
.main__title .display__picture {
  width: 60px;
  height: 60px;
  background-color: white;
  border-radius: 50%;
  margin-right: 10px;
  overflow: hidden;
  position: relative;
}
.main__title .display__picture > img {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 12px;
  left: 5px;
}

.main__greeting > h1 {
  font-size: 24px;
  color: #2e4a66;
  margin-bottom: 5px;
}
.main__greeting > p {
  font-size: 14px;
  font-weight: 700;
  color: #a5aaad;
}

.main__cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
  margin: 20px 0;
}
.main__cards .card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 70px;
  padding: 25px;
  border-radius: 5px;
  background: #ffffff;
  box-shadow: 5px 5px 13px #ededed, -5px -5px 13px #ffffff;
}
.main__cards .card .card_inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main__cards .card .card_inner > span {
  font-size: 25px;
}

.charts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin-top: 50px;
}
.charts .charts__left {
  padding: 25px;
  border-radius: 5px;
  background: #ffffff;
  box-shadow: 5px 5px 13px #ededed, -5px -5px 13px #ffffff;
}
.charts .charts__left .charts__left__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.charts .charts__left .charts__left__title > div > h1 {
  font-size: 24px;
  color: #2e4a66;
  margin-bottom: 5px;
}
.charts .charts__left .charts__left__title > div > p {
  font-size: 14px;
  font-weight: 700;
  color: #a5aaad;
}
.charts .charts__left .charts__left__title > i {
  color: #ffffff;
  font-size: 20px;
  background: #ffc100;
  border-radius: 200px 0px 200px 200px;
  -moz-border-radius: 200px 0px 200px 200px;
  -webkit-border-radius: 200px 0px 200px 200px;
  border: 0px solid #000000;
  padding: 15px;
}
.charts .charts__right {
  padding: 25px;
  border-radius: 5px;
  background: #ffffff;
  box-shadow: 5px 5px 13px #ededed, -5px -5px 13px #ffffff;
}
.charts .charts__right .charts__right__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.charts .charts__right .charts__right__title > div > h1 {
  font-size: 24px;
  color: #2e4a66;
  margin-bottom: 5px;
}
.charts .charts__right .charts__right__title > div > p {
  font-size: 14px;
  font-weight: 700;
  color: #a5aaad;
}
.charts .charts__right .charts__right__title > i {
  color: #ffffff;
  font-size: 20px;
  background: #39447a;
  border-radius: 200px 0px 200px 200px;
  -moz-border-radius: 200px 0px 200px 200px;
  -webkit-border-radius: 200px 0px 200px 200px;
  border: 0px solid #000000;
  padding: 15px;
}
.charts .charts__right .charts__right__cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 30px;
}
.charts .charts__right .card1 {
  background: #d1ecf1;
  color: #35a4ba;
  text-align: center;
  padding: 25px;
  border-radius: 5px;
  font-size: 14px;
}
.charts .charts__right .card2 {
  background: #d2f9ee;
  color: #38e1b0;
  text-align: center;
  padding: 25px;
  border-radius: 5px;
  font-size: 14px;
}
.charts .charts__right .card3 {
  background: #d6d8d9;
  color: #3a3e41;
  text-align: center;
  padding: 25px;
  border-radius: 5px;
  font-size: 14px;
}
.charts .charts__right .card4 {
  background: #fddcdf;
  color: #f65a6f;
  text-align: center;
  padding: 25px;
  border-radius: 5px;
  font-size: 14px;
}
main {
  /* Variables */
  /* The Modal (background) */
  /* Modal Styles */
}
main .text-success {
  color: #fff;
}
main .text-info {
  color: #62c9e8;
}
main .text-warning {
  color: #ffc107;
}
main .text-danger {
  color: #ff5b5b;
}
main .main__content {
  margin: 0 auto;
  padding: 20px;
}
main .main__content .table__container .table__header {
  background: #299be4;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vh;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
main .main__content .table__container .table__sub__header {
  width: inherit;
  padding: 20px;
  border: 1px solid #e9e9e9;
  background: #fff;
  display: flex;
  justify-content: space-between;
}
main .main__content .table__container .table__sub__header .table__length label {
  font-weight: 400;
  text-align: left;
  white-space: nowrap;
}
main .main__content .table__container .table__sub__header .table__length select {
  width: 50px;
  height: 25px;
  display: inline-block;
  border-radius: 5px;
}
main .main__content .table__container .table__sub__header .table__length option {
  font-weight: normal;
  display: block;
  min-height: 1.2em;
  padding: 0px 2px 1px;
}
main .main__content .table__container .table__sub__header .tables__filter .table__search {
  width: auto;
  height: 30px;
  padding-left: 5px;
}
main .main__content .table__container .table__title h2 {
  margin: 0;
  font-size: 24px;
}
main .main__content .table__container .table__buttons button {
  color: #566787;
  font-size: 13px;
  background: #fff;
  border: none;
  border-radius: 2px;
  border: none;
  outline: none !important;
  margin-left: 10px;
  padding: 8px;
  cursor: pointer;
}
main .main__content .table__container .table__buttons button i {
  transform: scale(1.1);
  margin-right: 5px;
}
main .main__content .table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #e9e9e9;
  background: #fff;
}
main .main__content .table th {
  padding: 12px 10px;
  border: 1px solid #e9e9e9;
  background: #fff;
  font-weight: bold;
  text-align: center;
}
main .main__content .table td {
  padding: 12px 10px;
  border: 1px solid #e9e9e9;
  text-align: center;
  max-width: 10%;
}
main .main__content .table td span {
  display: flex;
  justify-content: center;
}
main .main__content .table td span button {
  outline: none;
  border: none;
  background: none;
}
main .main__content .table td span i.fa {
  color: #299be4;
  margin: 0 8px;
  cursor: pointer;
}
main .main__content .table td span .fa-trash {
  color: #f65a6f !important;
  cursor: pointer;
}
main .main__content .table tbody tr:nth-child(odd) {
  background-color: #fcfcfc;
}
main .main__content .table tbody tr:hover {
  background-color: #f5f5f5;
}
main .main__content .table .avatar-container {
  width: inherit;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
main .main__content .table .avatar-container > img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
main .main__content .table .avatar-container .avatar-name {
  font-size: 1rem;
  margin-left: 10px;
}
main .main__content .table .status {
  font-size: 30px;
  margin: 2px 2px 0 0;
  display: inline-block;
  vertical-align: middle;
  line-height: 10px;
  color: #03a9f4;
}
main .main__content .clearfix {
  background: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .main__content .clearfix .hint-text {
  font-size: 13px;
}
main .main__content .clearfix .pagination {
  display: flex;
  list-style: none;
  padding: 0;
}
main .main__content .clearfix .pagination li {
  margin: 0;
}
main .main__content .clearfix .pagination a {
  min-width: 30px;
  min-height: 30px;
  border: 1px solid #e9e9e9;
  font-size: 13px;
  color: #999;
  margin: 0 5px;
  padding: 5px 10px;
  line-height: 30px;
  border-radius: 50% !important;
  text-align: center;
  text-decoration: none;
}
main .main__content .clearfix .pagination a:hover {
  color: #666;
}
main .main__content .clearfix .pagination a:first {
  border: none;
  color: #03a9f4;
}
main .main__content .clearfix .pagination .active a {
  background: #03a9f4;
  color: #fff;
}
main .main__content .clearfix .pagination .active a.page-link {
  background: #03a9f4;
  color: #fff;
}
main .addNew__modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  /* Modal Content/Box */
}
main .addNew__modal .modal-content {
  background-color: #fefefe;
  margin: 2% auto;
  border: 1px solid #888;
  width: 40%;
  overflow: hidden;
  border-radius: 10px;
}
main .addNew__modal .modal-content .modal-header {
  text-align: center;
  margin-bottom: 20px;
  padding: 15px;
  color: #fff;
  background: #299be4;
  border-bottom: 1px solid #ccc;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
main .addNew__modal .modal-content .modal-body {
  padding: 0 20px;
}
main .addNew__modal .modal-content .modal-body form.register {
  font-size: 1em;
  opacity: 1;
}
main .addNew__modal .modal-content .modal-body form label {
  font-size: 1.1em;
  margin-left: 23px;
}
main .addNew__modal .modal-content .modal-body label[for=question],
main .addNew__modal .modal-content .modal-body label[for=category] {
  display: block;
}
main .addNew__modal .modal-content .modal-body #question {
  width: 90%;
  padding: 10px;
  font-size: 1.5em;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
  margin: 5px 5% 15px 5%;
}
main .addNew__modal .modal-content .modal-body #category {
  width: 50%;
  margin: 5px 0 15px 5%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
main .addNew__modal .modal-content .modal-body #category:hover {
  border-color: #555;
}
main .addNew__modal .modal-content .modal-body #category:focus {
  border-color: #ccc;
  outline: none;
}
main .addNew__modal .modal-content .modal-body .form-row {
  display: flex;
  justify-content: space-between;
}
main .addNew__modal .modal-content .modal-body .form-column {
  flex: 1;
}
main .addNew__modal .modal-content .modal-body .form-column label {
  display: block;
  margin-bottom: 5px;
}
main .addNew__modal .modal-content .modal-body .form-column select {
  width: 80%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 5px 10% 15px 10%;
}
main .addNew__modal .modal-content .modal-body .form-column select option {
  padding: 5px;
}
main .addNew__modal .modal-content .modal-body #publishing-date {
  width: 30%;
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
}
main .addNew__modal .modal-content .modal-body form.register input {
  border-radius: 5px;
  width: 90%;
  height: 20px;
  margin: 5px 5% 15px 5%;
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
}
main .addNew__modal .modal-content .modal-body form.announcement input {
  border-radius: 5px;
  width: 90%;
  height: 20px;
  margin: 5px 5% 15px 5%;
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
}
main .addNew__modal .modal-content .modal-body form.announcement textarea {
  border-radius: 5px;
  width: 90%;
  height: 60px;
  margin: 5px 5% 15px 5%;
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
}
main .addNew__modal .modal-content .modal-body p.check-mark {
  width: 200px;
  padding: 0;
  text-align: center;
  font-size: 0.8em;
}
main .addNew__modal .modal-content .modal-body p.check-mark a {
  color: #299be4;
}
main .addNew__modal .modal-content .modal-body p.check-mark input {
  border-radius: 0;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  font-size: 2em;
  color: #299be4;
  outline: none;
  border: none;
}
main .addNew__modal .modal-content .modal-body p.check-mark label {
  margin-left: 5px;
}
main .addNew__modal .modal-content .modal-footer {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}
main .addNew__modal .modal-content .modal-footer button {
  padding: 10px 20px;
  margin-left: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
main .edit__modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  /* Button Styles */
}
main .edit__modal .modal-content {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  max-width: 400px;
  width: 100%;
  margin: 5% auto;
}
main .edit__modal .modal-header {
  text-align: center;
  margin-bottom: 20px;
  padding: 15px;
  color: #fff;
  background: #299be4;
  border-bottom: 1px solid #ccc;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
main .edit__modal .modal-body {
  padding: 0 20px;
}
main .edit__modal .modal-body label {
  display: block;
  margin-bottom: 10px;
}
main .edit__modal .modal-body input {
  border-radius: 5px;
  width: 90%;
  height: 20px;
  margin: 5px 5% 15px 5%;
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
}
main .edit__modal .modal-body #question {
  width: 90%;
  padding: 10px;
  font-size: 1.5em;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
  margin: 5px 5% 15px 5%;
}
main .edit__modal .modal-body #publishing-date {
  width: 55%;
}
main .edit__modal .modal-body select {
  width: 60%;
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 5px 0 15px 5%;
}
main .edit__modal .modal-body #content {
  width: 90%;
  padding: 10px;
  font-size: 1.5em;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
  margin: 5px 5% 15px 5%;
}
main .edit__modal .modal-footer {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}
main .edit__modal .modal-footer button {
  padding: 10px 20px;
  margin-left: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
main .edit__modal button#openModalBtn {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
