@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    background: #edfffe;
}


.header{
    width: 100%;
    height: 7%;
    display: flex;
    background: #149d9b;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;        
}
.header .logo{
    height: 100%;
    width: 12%;
    float: left;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
}
.header .navbar{
    height: 70%;
    width: auto;
    float: left;
    color: black;
    margin:0 0 0 28.5%;
    color: white;
    font-size: large;
}
.header .navbar .navbutton{
    height: 100%;
    width: -moz-max-content;
    width: max-content;
    padding: 1rem;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center; 
    border-radius: 15px 15px 15px 15px;
}
.header .navbar .navbutton:hover{
    background-color: red;
}
.header .login{
    height: 70%;
    width: -moz-max-content;
    width: max-content;
    padding: 1rem; 
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px 15px 15px 15px;
    background-color: white;
    margin: 0 2% 0 27%;
}






 
.footer{
    height: 13%;
    width: 100%;
    position: fixed;
    bottom: 0;
    background: #303333;
    color: white;
}
.footer .row1{
    height: 40%;
    width: 100%;
}
.footer .row1 .company_tab{
    height: 100%;
    width: auto;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center; 
}
.footer .row1 .company_tab .details{
    height: 100%;
    width: -moz-max-content;
    width: max-content;
    padding: 1rem;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center; 
}
.footer .row1 .social_tab{
    height: 100%;
    width: auto;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center; 
}
.footer .row1 .social_tab .media{
    height: 100%;
    width: -moz-max-content;
    width: max-content;
    padding: .4rem;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center; 
}
.footer .row2{
    height: 60%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; 
}
