@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap);
/* Footer section */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 7%;
  background: #149d9b;
  color: white;
}
@media (max-width: 768px) {
  .header {
    display: none;
  }
}
.header * {
  cursor: pointer;
}
.header .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 12%;
  float: left;
  color: white;
  font-size: x-large;
}
.header .navbar {
  height: 70%;
  width: auto;
  float: left;
  color: black;
  margin: 0 auto;
  color: white;
  font-size: large;
}
.header .navbar .navbutton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: -moz-max-content;
  width: max-content;
  padding: 1vw;
  float: left;
}
.header .navbar .navbutton:hover {
  background-color: rgba(23, 97, 110, 0.354);
}
.header .login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70%;
  width: -moz-max-content;
  width: max-content;
  padding: 0.7rem;
  color: black;
  border-radius: 15px 15px 15px 15px;
  background-color: white;
  margin: 0 2% 0 2%;
}

.header.navbar.navbutton:active {
  background-color: rgba(23, 97, 110, 0.354);
}

.mobile_header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #149d9b;
  color: white;
  border-bottom: 1px solid white;
  z-index: 100;
}
@media (min-width: 769px) {
  .mobile_header {
    display: none;
  }
}
.mobile_header .logo {
  font-weight: bold;
}
.mobile_header .toggle-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.mobile_header .toggle-menu .menu-icon {
  display: inline-block;
  width: 20px;
  height: 2px;
  background-color: white;
  position: relative;
  transition: transform 0.3s ease-in-out;
}
.mobile_header .toggle-menu .menu-icon::before, .mobile_header .toggle-menu .menu-icon::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: white;
  transition: transform 0.3s ease-in-out;
  left: 0px;
}
.mobile_header .toggle-menu .menu-icon::before {
  top: -6px;
}
.mobile_header .toggle-menu .menu-icon::after {
  top: 6px;
}
.mobile_header .toggle-menu.active .menu-icon {
  transform: rotate(45deg);
}
.mobile_header .toggle-menu.active .menu-icon::before {
  transform: rotate(90deg);
  top: 0;
}
.mobile_header .toggle-menu.active .menu-icon::after {
  transform: rotate(90deg);
  top: 0;
}

.mobile_sidebar {
  position: fixed;
  top: -100%;
  left: 0;
  right: 0;
  height: 100vh;
  background-color: #444;
  padding-top: 60px;
  transition: top 0.3s ease-in-out;
  z-index: 99;
  padding: 0 15px;
}
.mobile_sidebar.active {
  top: 0;
}
.mobile_sidebar .menu {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
  flex-direction: column;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.mobile_sidebar .menu li {
  margin-top: 20px;
  margin-bottom: 5px;
}
.mobile_sidebar .menu li a {
  color: white;
  text-decoration: none;
}
.mobile_sidebar .menu li::after {
  content: "";
  display: block;
  width: 0%;
  height: 1px;
  background-color: white;
  margin-top: 7px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: width 0.3s ease-in-out;
}
.mobile_sidebar .menu li:first-child::after, .mobile_sidebar .menu li:last-child::after {
  width: 40% !important;
}
.mobile_sidebar .menu li:nth-child(even)::after {
  width: 80%;
}
.mobile_sidebar .menu li:nth-child(odd)::after {
  width: 60%;
}

footer {
  height: -moz-max-content;
  height: max-content;
  width: 100%;
  color: white;
  background-color: #3b3b3b;
}
footer .row1 {
  height: 40%;
  width: 100%;
  padding-top: 1vh;
}
footer .row1 .company_tab {
  height: 100%;
  width: auto;
  float: left;
  padding-left: 10px;
}
footer .row1 .company_tab .links {
  height: 100%;
  width: -moz-max-content;
  width: max-content;
  padding: 10px 10px;
  font-size: medium;
  text-decoration: none;
  color: white;
  float: left;
}
footer .row1 .social_tab {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: auto;
  float: right;
  padding: 6px 10px;
}
footer .row1 .social_tab .media {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: -moz-max-content;
  width: max-content;
  padding: 0.4rem;
  float: left;
  cursor: pointer;
}
footer .row2 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: -moz-max-content;
  height: max-content;
  width: 100%;
  padding: 15px;
  background-color: #333;
  font-size: medium;
}
@media (max-width: 768px) {
  footer .row1 {
    height: 70%;
  }
  footer .row1 .company_tab {
    height: 70%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
  }
  footer .row1 .company_tab .links {
    font-size: small;
  }
  footer .row2 {
    font-size: medium;
  }
}
.scategory {
  height: 150vh;
  width: 100%;
}
.scategory .punch_line {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5%;
  width: -moz-max-content;
  width: max-content;
  margin: 3% 0% 4.5% 8%;
  border-radius: 10px;
  font-size: 18px;
  padding: 2rem;
  letter-spacing: 1px;
  background-color: #edfffe;
  border-bottom: 3px solid #149d9b;
  border-left: 5px solid #149d9b;
}
.scategory .sdisplay {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40%;
  width: 70%;
  margin: 0% 0% 4.5% 15%;
  background-color: #149d9b;
  border-radius: 15px;
}
.scategory .sdisplay .subject {
  height: 90%;
  width: 25%;
  margin: 0% 1% 0 0;
}
.scategory .sdisplay .subject .subject1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15%;
  width: 90%;
  margin: 12% 0 0 5%;
  font-size: 22px;
  border-radius: 20px;
  color: white;
  border: 2px dashed white;
}
.scategory .sdisplay .metarial {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90%;
  width: 72%;
  border-radius: 8px;
  background-color: #edfffe;
  box-shadow: 6px 12px 12px rgba(0, 0, 0, 0.2);
}
.scategory .fquestions {
  height: 12%;
  width: 80%;
  border-radius: 30px;
  margin-left: -1.5%;
  background-color: #edfffe;
}
.scategory .fquestions .fquestion {
  height: 40%;
  width: -moz-max-content;
  width: max-content;
  margin: 0 0 0 3%;
  padding: 0.9rem;
}
.scategory .fquestions .fquestion i {
  color: #149d9b;
}
.scategory .fquestions .fquestion p {
  float: right;
  margin-left: 15px;
  font-size: 25px;
}
.scategory .fquestions .fanswer {
  height: 50%;
  width: 90%;
  margin: 0 0 0 7%;
  padding: 0.5rem;
  font-size: 17px;
  letter-spacing: 0.5px;
  color: #149d9b;
}
.scategory .badge {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15%;
  width: 70%;
  margin: 5% 0 0 30%;
}
.scategory .badge .lbadge {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70%;
  width: 32%;
  font-size: 22px;
  letter-spacing: 2px;
}
.scategory .badge .lbadge p {
  color: #149d9b;
}
.scategory .badge .rbadge {
  height: 100%;
  width: 60%;
}
.scategory .badge .rbadge .badgefirst {
  height: 50%;
  width: 100%;
}
.scategory .badge .rbadge .badgefirst .badge1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 16.6%;
  float: left;
  border-radius: 10px;
  border-left: 3px solid #149d9b;
  border-bottom: 4px solid #149d9b;
  background-color: #edfffe;
}
.scategory .badge .rbadge .badgesecond {
  height: 50%;
  width: 100%;
}
.scategory .badge .rbadge .badgesecond .badge1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 16.6%;
  float: left;
  border-radius: 10px;
  border-left: 3px solid #149d9b;
  background-color: #edfffe;
}
