* {
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
}

.header {
  width: 100%;
  height: 7%;
  background: transparent;
  color: white;
  border-bottom: 1px solid #53c5cc;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  z-index: 99;
}
@media (max-width: 768px) {
  .header {
    display: none;
  }
}
.header * {
  cursor: pointer;
}
.header .logo {
  height: 100%;
  width: 12%;
  float: left;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: x-large;
}
.header .navbar {
  height: 70%;
  width: auto;
  float: left;
  color: black;
  margin: 0 auto;
  color: white;
  font-size: large;
}
.header .navbar .navbutton {
  height: 100%;
  width: -moz-max-content;
  width: max-content;
  padding: 0 1vw;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: inherit;
}
.header .navbar .navbutton:hover {
  background-color: rgba(23, 97, 110, 0.354);
}
.header .login {
  height: 50%;
  width: -moz-max-content;
  width: max-content;
  padding: 1rem;
  color: #149d9b;
  font-weight: bolder;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  background-color: white;
  margin: 0 2% 0 2%;
}
.header .login__container {
  margin: 0 2%;
}
.header .login__container .login {
  display: block;
  height: 50%;
  width: -moz-max-content;
  width: max-content;
  padding: 5px 15px;
  color: #149d9b;
  font-weight: bolder;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  background-color: white;
  margin: 0 2% 0 2%;
}
.header .login__container .login > a {
  text-decoration: none;
  color: inherit;
}
.header .login__container .profile-container {
  position: relative;
  display: inline-block;
}
.header .login__container .profile-dropdown {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-top: 4px;
}
.header .login__container .avatar-container {
  width: 35px;
  height: 35px;
  background: #fff;
  border-radius: 50%;
  margin-right: 5px;
  padding-top: 3px;
  outline: 2px solid #fff;
}
.header .login__container .avatar-container .avatar {
  width: 35px;
  height: 35px;
}
.header .login__container .dropdown-icon {
  font-size: 12px;
  color: #ffffff;
  transition: transform 0.2s ease-in-out;
}
.header .login__container .dropdown-menu {
  position: absolute;
  top: 100%;
  left: -55px;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  border-radius: 4px;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.2s ease-in-out;
  opacity: 0;
  pointer-events: none;
}
.header .login__container .dropdown-menu li {
  padding: 10px 20px;
}
.header .login__container .dropdown-menu li > a {
  text-decoration: none;
  color: black;
}
.header .login__container .dropdown-menu li:hover {
  background-color: #f0f0f0;
}
.header .login__container .profile-dropdown:hover .dropdown-icon {
  transform: rotate(180deg);
}
.header .login__container .profile-dropdown:hover .dropdown-menu {
  transform: scaleY(1);
  opacity: 1;
  pointer-events: auto;
}

.header.navbar.navbutton:active {
  background-color: rgba(23, 97, 110, 0.354);
}

section.greeting {
  width: inherit;
  height: 795px;
  background-color: #ecfeff;
  position: relative;
  border-bottom: 2px solid #149d9b;
}
section.greeting .polygon {
  width: inherit;
  height: inherit;
  background-color: #149d9b;
  -webkit-clip-path: polygon(100% 0, 100% 10%, 22% 91.3%, 0 58.8%, 0 0);
          clip-path: polygon(100% 0, 100% 10%, 22% 91.3%, 0 58.8%, 0 0);
}
section.greeting .content {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: row;
  color: white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 99;
}
section.greeting .content .left {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 5% 10%;
}
section.greeting .content .left .tagline-container {
  overflow: hidden;
}
section.greeting .content .left .tagline {
  font-size: 24px;
  font-weight: bold;
  font-size: 3vw;
  color: white;
  white-space: wrap;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
@keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}
section.greeting .content .left .button {
  height: 30px;
  margin-top: 10%;
}
section.greeting .content .left .button a {
  background-color: white;
  border-radius: 50px;
  padding: 8px 12px;
  text-decoration: none;
  color: #149d9b;
  font-weight: bold;
}
section.greeting .content .left .button i {
  color: #149d9b;
  margin: 0 3px;
}
section.greeting .content .right {
  padding-bottom: 1%;
}
section.greeting .content .right img {
  height: 100%;
  width: 100%;
}

section.quote_motivation {
  width: 100%;
  height: 80vh;
}
section.quote_motivation .quote {
  width: 40%;
  height: 100%;
  float: left;
}
section.quote_motivation .quote .quote_container {
  width: 80%;
  height: 25%;
  color: rgb(16, 14, 14);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
section.quote_motivation .quote .quote_container .the_quote {
  padding: 2%;
}
section.quote_motivation .quote .quote_container .the_quote h3 {
  float: right;
  margin-right: 2vw;
  margin-top: 15px;
  position: relative;
}
section.quote_motivation .quote .quote_container .the_quote h3::before {
  content: "";
  width: 30px;
  height: 2px;
  position: absolute;
  top: 12px;
  left: -35px;
  background-color: rgb(16, 14, 14);
}
section.quote_motivation .quote .quote_image {
  width: 100%;
  height: 75%;
  background-image: url(/images/motivation.svg?25984a9dafc8de56a41750218f63a260);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
}
section.quote_motivation .leaderboard {
  width: 60%;
  height: 100%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  background-image: url(/images/leaderboard.svg?4b1112607cea71dddef0b2c4dd0a2540);
  background-size: 100% 110%;
  background-repeat: no-repeat;
  background-position: center center;
}
section.quote_motivation .leaderboard .leaderview {
  width: 80%;
  height: 80%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
section.quote_motivation .leaderboard .leaderview p {
  font-size: 30px;
  color: white;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.8);
}
section.quote_motivation .leaderboard .leaderview .leader1 {
  height: 10%;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
section.quote_motivation .leaderboard .leaderview .leader1 .dp {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18%;
  margin: auto;
}
section.quote_motivation .leaderboard .leaderview .leader1 .dp #noId {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  color: white;
}
section.quote_motivation .leaderboard .leaderview .leader1 .dp #medel {
  font-size: 40px;
}
section.quote_motivation .leaderboard .leaderview .leader1 .dp #leaderDp {
  font-size: 40px;
  margin-left: auto;
  color: #ecfeff;
}
section.quote_motivation .leaderboard .leaderview .leader1 .leaderDetails {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin: auto;
  background-color: rgb(227, 61, 89);
  border-radius: 10px;
  font-size: 20px;
}
section.quote_motivation .leaderboard .leaderview .leader1 .leaderDetails #name {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 60%;
  margin: auto;
  border-radius: 10px;
  background-color: rgb(227, 61, 89);
}
section.quote_motivation .leaderboard .leaderview .leader1 .leaderDetails #badgeDp {
  font-size: 25px;
  margin: auto;
}
section.quote_motivation .leaderboard .leaderview .leader1 .leaderDetails #points {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 30%;
  border-radius: 10px;
  background-color: rgb(227, 61, 89);
}

footer {
  height: -moz-max-content;
  height: max-content;
  width: 100%;
  color: white;
  background-color: #3b3b3b;
}
footer .row1 {
  height: 40%;
  width: 100%;
  padding-top: 1vh;
}
footer .row1 .company_tab {
  height: 100%;
  width: auto;
  float: left;
  padding-left: 10px;
}
footer .row1 .company_tab .links {
  height: 100%;
  width: -moz-max-content;
  width: max-content;
  padding: 10px 10px;
  font-size: medium;
  text-decoration: none;
  color: white;
  float: left;
}
footer .row1 .social_tab {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: auto;
  float: right;
  padding: 6px 10px;
}
footer .row1 .social_tab .media {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: -moz-max-content;
  width: max-content;
  padding: 0.4rem;
  float: left;
  cursor: pointer;
}
footer .row2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: -moz-max-content;
  height: max-content;
  width: 100%;
  padding: 15px;
  background-color: #333;
  font-size: medium;
}
@media (max-width: 768px) {
  footer .row1 {
    height: 70%;
  }
  footer .row1 .company_tab {
    height: 70%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
  }
  footer .row1 .company_tab .links {
    font-size: small;
  }
  footer .row2 {
    font-size: medium;
  }
}
