@keyframes shake {
  0%, 100% {
    margin-left: 0px;
  }
  20%, 80% {
    margin-left: -12px;
  }
  40%, 60% {
    margin-left: 12px;
  }
}
/* form .pass-txt {
            text-align: left;
            margin-top: -10px;
        } */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f0efef;
}

::-moz-selection {
  color: #fff;
  background: #5372f0;
}

::selection {
  color: #fff;
  background: #5372f0;
}

.welcome {
  height: 60%;
  width: 30%;
  background-size: 100% 90%;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: orange;
}

.wrapper {
  height: 90%;
  width: 50%;
  padding: 1rem;
  background: #fff;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.wrapper header {
  color: #3a5198;
  height: 20%;
  width: 100%;
}
.wrapper header .logo {
  margin-right: auto;
  width: 20%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: pink;
  font-size: 20px;
}
.wrapper header .registration {
  margin: auto;
  width: 40%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}
.wrapper form {
  height: 80%;
  width: 100%;
}
.wrapper a {
  color: #5372f0;
  text-decoration: none;
}
.wrapper a:hover {
  text-decoration: underline;
}

form .field {
  width: 100%;
  margin-bottom: 20px;
}
form .field .input-area {
  height: 50px;
  width: 45%;
  position: relative;
  float: left;
  margin: 1% 2.5% 1.5% 2.5%;
}
form .field input:focus {
  border-color: #5372f0;
}
form .field .error-txt {
  color: #dc3545;
  text-align: left;
  margin-top: 5px;
}
form .field .error {
  display: none;
}
form .field.shake {
  animation: shake 0.3s ease-in-out;
}
form .field.shake input {
  border-color: #dc3545;
}
form .field.shake input:focus ~ .icon {
  color: #bfbfbf;
}
form .field.shake .error {
  display: block;
}
form input {
  width: 100%;
  height: 100%;
  outline: none;
  padding: 0 45px;
  font-size: 18px;
  background: none;
  caret-color: #5372f0;
  border-radius: 5px;
  border: 1px solid #bfbfbf;
  border-bottom-width: 2px;
  transition: all 0.2s ease;
}
form input:focus ~ .icon {
  color: #5372f0;
}
form input::-moz-placeholder {
  color: #bfbfbf;
  font-size: 17px;
}
form input::placeholder {
  color: #bfbfbf;
  font-size: 17px;
}
form .field.valid input {
  border-color: #5372f0;
}
form .field.valid .icon {
  color: #5372f0;
}
form .field.error input {
  border-color: #dc3545;
}
form .field.error input:focus ~ .icon {
  color: #bfbfbf;
}
form .field.error .error {
  display: block;
}
form input[type=submit] {
  height: 50px;
  margin-top: 30px;
  color: #fff;
  padding: 0;
  border: none;
  background: #3a5198;
  cursor: pointer;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}
form input[type=submit]:hover {
  background: #2c52ed;
}

.field .input-area i {
  position: absolute;
  top: 50%;
  font-size: 18px;
  pointer-events: none;
  transform: translateY(-50%);
}

.input-area .icon {
  left: 15px;
  color: #bfbfbf;
  transition: color 0.2s ease;
}
.input-area .error-icon {
  right: 15px;
  color: #dc3545;
}

#emailField {
  width: 95%;
}

.checkbox {
  height: 25px;
  margin-top: 5px;
}

#submit {
  width: 20%;
  margin: 3% 40% 0 40%;
}
