@import "https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap";

@import "./variables.scss";

@mixin flexing {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Notification styles */
.notification {
    display: block;
    color: white;
    position: fixed;
    font-weight: bold;
    bottom: 80px;
    right: 50px;
    min-width: 150px;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: bottom 0.3s ease-in-out;
    animation: fadeIn 2s ease-in-out;
    .close {
        margin-left: 1rem;
        float: right;
        cursor: pointer;
        font-size: 2em;
        &:hover {
            color: black;
        }
    }
}
.success {
    background-color: #238737 !important;
}
.warning {
    background-color: #ffc107 !important;
}
.error {
    background-color: #cc3d38 !important;
}

/* Message Modal styles */
.message-modal {
    display: block; /* Hidden by default */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    overflow: auto; /* Enable scrolling if the content overflows */

    .modal-content {
        background-color: #fff;
        margin: 15% auto;
        border: 1px solid #888;
        width: 50%;
        text-align: center;
        border-radius: 5px;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);

        .modal-header {
            color: white;
            padding: 4%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .icon {
                font-size: 50px;
                margin-right: 10px;

                .success {
                    background-color: #4caf50 !important; /* Green for success */
                }

                .warning {
                    background-color: #ffc107 !important; /* Yellow for warning */
                }

                .error {
                    background-color: #ff5733 !important; /* Red for error */
                }
            }

            h2 {
                margin-top: 1%;
            }
        }

        .modal-body {
            padding: 20px;
            color: #454d61;
        }

        /* Modal button styles */
        .modal-buttons {
            display: flex;
            justify-content: center;
            padding: 20px;

            .close-button {
                background-color: $color_21;
                color: #fff;
                font-weight: 400;
                border: none;
                padding: 10px 20px;
                margin-right: 10px;
                border-radius: 5px;
                cursor: pointer;
            }

            .redirect-button {
                color: white;
                border: none;
                padding: 10px 20px;
                border-radius: 5px;
                cursor: pointer;
                text-decoration: none;
            }
        }
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Footer section */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-family_1;
}

.is-invalid {
    border: 1px solid #f3789e !important ;
}

.invalid-feedback {
    color: #f3789e !important;
    margin: 5px;
}

.header {
    @include flexing;
    width: 100%;
    height: 50px;
    background: $header-color;
    color: $color_1;

    @media (max-width: 768px) {
        display: none;
    }

    // * {
    //     cursor: pointer;
    // }
    .logo {
        @include flexing;
        height: 100%;
        width: 12%;
        float: left;
        color: $color_1;
        img {
            object-fit: fill;
            max-width: 100%;
            max-height: 300%;
            margin: 0 auto -10%;
        }
    }
    .navbar {
        height: 70%;
        width: auto;
        float: left;
        color: $color_2;
        margin:0 0 0 auto;
        color: $color_1;
        font-size: large;
        a {
            color: $color_1;
        }
        .navbutton {
            @include flexing;
            height: 100%;
            width: max-content;
            padding: 0 1vw;
            float: left;

            &:hover {
                background-color: $background-color_1;
            }
        }
    }

    .notificationIcon {
        margin-left: auto;
        #Icon {
            font-size: 1.5em;
            cursor: pointer;
        }
    }

    .notifications-container {
        display: none;
        max-width: 450px;
        position: fixed;
        top: 3.5rem;
        right: 10px;
        border: 1px solid #ddd;
        border-radius: 15px;
        background-color: #00baaf;
        box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
        z-index: 2;
        font-family: "Roboto", sans-serif;
        .notifications-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem;
            color: #ffffff;
            font-size: 18px;
            letter-spacing: 1px;
            h3 {
                margin: 0;
            }
            .close-button {
                font-size: 20px;
                background: none;
                border: none;
                color: $color_1;
                cursor: pointer;
            }
        }
        .notification-body {
            border-radius: 15px;
            background-color: #ffffff;
            // display: none;
        }
        #unread {
            background-color: #c2f7f3;
        }
        .notification-div {
            display: flex;
            align-items: center;
            padding: 1rem;
            background-color: #ffffff;
            border-bottom: 2px solid #d8f5f4;
            color: #00baaf;
            border-radius: 10px;
            .notiImage {
                width: 60px;
                height: 100%;
                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    margin-right: 10px;
                    background-color: black;
                }
            }
            .notification-content {
                width: 350px;
                height: 100%;
                margin-left: 20px;
                .notification-header {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .notification-title {
                        font-weight: bold;
                    }
                    .notification-time {
                        color: #00baaf;
                        font-size: 13px;
                        font-weight: 600;
                    }
                }
                .notification-message {
                    margin-top: 5px;
                    .notification-button {
                        color: #00baaf;
                        background-color: #ffffff;
                        border-color: #00baaf;
                        padding: 0.2rem;
                        border-radius: 5px;
                        cursor: pointer;
                    }
                }
            }
        }

        .notification-body1 {
            border-radius: 15px;
            display: none;
            background-color: #ffffff;
            // padding: 1rem;
            .modal-content {
                .modal-header {
                    @include flexing;
                    padding: 1rem;
                    color: #ffffff;
                    font-size: 17px;
                    letter-spacing: 1px;
                    color: #149c9a;
                    #backIcon {
                        cursor: pointer;
                    }
                    p {
                        margin: auto;
                        font-weight: bold;
                    }
                }

                .modal-body {
                    border-radius: 15px;
                    .content {
                        max-height: 200px;
                        padding: 0 1.5rem 0 1.5rem;
                        overflow: auto;
                        p {
                            margin-bottom: 2px;
                            color: #299a92;
                        }
                        .quizQuestion {
                            color: #00514c;
                        }
                    }
                }
                .modal-footer {
                    display: flex;
                    align-items: center;
                    padding: 1rem 1rem 1rem;
                    button {
                        font-size: 16px;
                        background: none;
                        border-color: #149c9a;
                        cursor: pointer;
                        padding: 0.2rem 1rem;
                        border-radius: 5px;
                        font-weight: bold;
                    }
                    .accept-button {
                        margin-right: 15px;
                        color: green;
                    }
                    .reject-button {
                        color: red;
                    }
                    .expand-button {
                        margin-left: auto;
                        color: #149c9a;
                    }
                }
            }
        }
    }

    .login__container {
        margin: 0 2%;
        .login {
            display: block;
            height: 50%;
            width: max-content;
            padding: 5px 15px;
            color: $color_5;
            font-weight: bolder;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 15px;
            background-color: $color_1;
            margin: 0 2% 0 2%;

            > a {
                text-decoration: none;
                color: inherit;
            }
        }

        .profile-container {
            position: relative;
            display: inline-block;
        }

        .profile-dropdown {
            position: relative;
            display: flex;
            align-items: center;
            cursor: pointer;
            margin-top: 4px;
        }

        .avatar-container {
            width: 35px;
            height: 35px;
            background: #fff;
            border-radius: 50%;
            margin-right: 5px;
            padding-top: 3px;
            outline: 2px solid #fff;

            .avatar {
                width: 35px;
                height: 35px;
            }
        }

        .dropdown-icon {
            font-size: 12px;
            color: #ffffff;
            transition: transform 0.2s ease-in-out;
        }

        .dropdown-menu {
            position: absolute;
            top: 100%;
            left: -55px;
            list-style: none;
            padding: 0;
            margin: 0;
            background-color: #fff;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            border: 1px solid #ccc;
            border-radius: 4px;
            transform: scaleY(0);
            transform-origin: top;
            transition: transform 0.2s ease-in-out;
            opacity: 0;
            pointer-events: none;
        }

        .dropdown-menu li {
            padding: 10px 20px;
            > a {
                text-decoration: none;
                color: black;
            }
        }

        .dropdown-menu li:hover {
            background-color: #f0f0f0;
        }

        .profile-dropdown:hover .dropdown-icon {
            transform: rotate(180deg);
        }

        .profile-dropdown:hover .dropdown-menu {
            transform: scaleY(1);
            opacity: 1;
            pointer-events: auto;
        }
    }
}
.header.navbar.navbutton {
    &:active {
        background-color: $background-color_1;
    }
}

// Mobile Header Styles
.mobile_header {
    // position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: $header-height;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: $header-color;
    color: $color_1;
    border-bottom: 1px solid $color_1;
    z-index: 100;

    @media (min-width: 769px) {
        display: none;
    }

    .logo {
        font-weight: bold;
    }

    .toggle-menu {
        @include flexing;
        width: 40px;
        height: 40px;
        background-color: transparent;
        border: none;
        cursor: pointer;

        .menu-icon {
            display: inline-block;
            width: 20px;
            height: 2px;
            background-color: $color_1;
            position: relative;
            transition: transform 0.3s ease-in-out;

            &::before,
            &::after {
                content: "";
                position: absolute;
                width: 100%;
                height: 2px;
                background-color: $color_1;
                transition: transform 0.3s ease-in-out;
                left: 0px;
            }

            &::before {
                top: -6px;
            }

            &::after {
                top: 6px;
            }
        }

        &.active .menu-icon {
            transform: rotate(45deg);

            &::before {
                transform: rotate(90deg);
                top: 0;
            }

            &::after {
                transform: rotate(90deg);
                top: 0;
            }
        }
    }
}

.mobile_sidebar {
    position: fixed;
    top: -110%;
    left: 0;
    right: 0;
    height: 100vh;
    background-color: $sidebar-background-color;
    padding-top: $header-height;
    transition: top 0.3s ease-in-out;
    z-index: 99;
    padding: 0 15px;

    &.active {
        top: 0;
    }

    .menu {
        @include flexing;
        list-style: none;
        padding: 0;
        margin: 0;
        flex-direction: column;
        position: relative;
        top: 50%;
        transform: translateY(-50%);

        li {
            margin-top: 20px;
            margin-bottom: 5px;

            a {
                color: $color_1;
                text-decoration: none;
            }

            &::after {
                content: "";
                display: block;
                width: 0%;
                height: 1px;
                background-color: $color_1;
                margin-top: 7px;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                transition: width 0.3s ease-in-out;
            }

            &:first-child::after,
            &:last-child::after {
                width: 40% !important;
            }

            &:nth-child(even)::after {
                width: 80%;
            }

            &:nth-child(odd)::after {
                width: 60%;
            }
        }
    }
}

footer {
    height: max-content;
    width: 100%;
    color: $color_1;
    background-color: $color_4;
    .row1 {
        height: 40%;
        width: 100%;
        padding-top: 1vh;
        .company_tab {
            height: 100%;
            width: auto;
            float: left;
            padding-left: 10px;
            .links {
                height: 100%;
                width: max-content;
                padding: 10px 10px;
                font-size: medium;
                text-decoration: none;
                color: white;
                float: left;
            }
        }
        .social_tab {
            @include flexing;
            height: 100%;
            width: auto;
            float: right;
            padding: 6px 10px;
            .media {
                @include flexing;
                height: 100%;
                width: max-content;
                padding: 0.4rem;
                float: left;
                cursor: pointer;
            }
        }
    }
    .row2 {
        @include flexing;
        height: max-content;
        width: 100%;
        padding: 15px;
        background-color: $color_3;
        font-size: medium;
    }

    @media (max-width: 768px) {
        .row1 {
            height: 70%;

            .company_tab {
                height: 70%;
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: baseline;

                .links {
                    font-size: small;
                }
            }
        }

        .row2 {
            font-size: medium;
        }
    }
}
