$color_1: #149d9b;
$color_2: #333;
$color_3: #edfffe;
$color_4: #ffff;
$color_5: #00000033;
$color_6: #ffdf52;
$color_7: #ce5983;
$color_8: #fc93b9;
$color_9: #a1fa6e;

@mixin hei-width($height, $width) {
    height: $height;
    width: $width;
}
@mixin flexing {
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin quizno-display {
    .quizno1 {
        @include flexing;
        @include hei-width(100%, 16%);
        margin: 0 2% 0 2%;
        border-radius: 50%/50%;
        perspective: 1000px;
        border-bottom: 3px solid $color_2;
        border-right: 5px solid $color_2;
        float: left;
        color: $color_1;
        .bhover {
            font-size: 18px;
            display: block;
        }
        .ahover {
            @include hei-width(100%, 100%);
            // @include flexing;
            transform: rotateZ(180deg);
            font-size: 15px;
            display: none;
            .starts {
                @include hei-width(30%, auto);
                margin-left: 85%;
                color: $color_6;
                margin-bottom: 20%;
            }
            .startb {
                @include hei-width(auto, max-content);
                @include flexing;
                color: $color_1;
                cursor: pointer;
                margin: auto;
            }
        }
        &:hover {
            transform-style: preserve-3d;
            transition: transform 0.8s ease, background-color 0.8s ease;
            transform: rotateZ(180deg);

            background-color: $color_3;
            .bhover {
                display: none;
            }
            .ahover {
                display: block;
            }
        }
        @media (max-width: 769px) {
            @include hei-width(44%, 29%);
            margin: 2% 2% 2% 2%;
            .bhover {
                font-size: 20px;
            }
        }
        @media (min-width: 770px) and (max-width: 1024px) {
            @include hei-width(44%, 26%);
            margin: 2% 3.5% 2% 3.5%;
            .bhover {
                font-size: 30px;
            }
        }
    }
}

@mixin badge-display {
    @include hei-width(50%, 100%);
    .badge1 {
        @include flexing;
        @include hei-width(100%, 16.6%);
        float: left;
        border-radius: 10px;
        border-left: 3px solid $color_1;
        border-bottom: 4px solid $color_1;
        background-color: $color_3;
        color: $color_7;
        p {
            display: none;
            font-size: 14px;
            font-weight: 600;
            color: $color_7;
        }
        h1 {
            display: none;
            font-size: 17px;
            margin-top: 27%;
            margin-right: auto;
            font-weight: bolder;
        }
        &:hover {
            flex-wrap: wrap;
            color: $color_6;
            background-color: $color_2;
            h1 {
                display: block;
            }
            p {
                display: block;
            }
            #badgeicon {
                font-size: 20px;
                margin-top: -10%;
                margin: auto;
            }
        }
    }
    @media (max-width: 769px) {
        .badge1 {
            @include flexing;
            @include hei-width(44%, 30%);
            margin: 3% 1% 0 2%;
            p {
                font-size: 16px;
            }
            h1 {
                font-size: 20px;
                margin-top: 0%;
            }
            #badgeicon {
                font-size: 40px;
            }
            &:hover {
                display: block;
                text-align: center;
                line-height: 1.7;
                padding-top: 5%;
                #badgeicon {
                    font-size: 30px;
                }
            }
        }
    }
    @media (min-width: 770px) and (max-width: 1024px) {
        .badge1 {
            @include flexing;
            @include hei-width(44%, 30%);
            margin: 1.5% 1% 0 2%;
            p {
                font-size: 16px;
            }
            h1 {
                font-size: 25px;
                margin-top: 0%;
            }
            #badgeicon {
                font-size: 40px;
            }
            &:hover {
                display: block;
                text-align: center;
                line-height: 2;
                padding-top: 1%;
                #badgeicon {
                    font-size: 30px;
                }
            }
        }
    }
}

.scategory {
    @include hei-width(150vh, 100%);
    background-color: aquamarine;
    @media (max-width: 769px) {
        @include hei-width(220vh, 100%);
    }

    @media (min-width: 770px) and (max-width: 1024px) {
        @include hei-width(170vh, 100%);
    }
    .punch_line {
        @include hei-width(max-content, max-content);
        margin: 0% 0% 7.5% 8%;
        border-radius: 10px;
        position: relative;
        top: 4%;
        font-size: 18px;
        padding: 1rem;
        background-color: $color_3;
        border-bottom: 3px solid $color_1;
        border-left: 5px solid $color_1;
        color: $color_7;
        letter-spacing: 0.15em;
        p {
            overflow: hidden;
            white-space: nowrap;
            animation: typing 5s steps(40, end);
        }
        @keyframes typing {
            from {
                width: 0;
            }
            to {
                width: 100%;
            }
        }

        @media (max-width: 769px) {
            @include hei-width(max-content, max-content);
            top: 4.5%;
            font-size: small;
            margin: 0% 0% 0% 3%;
            padding: 0.5rem;
            border-radius: 6px;
        }

        @media (min-width: 770px) and (max-width: 1024px) {
            @include hei-width(auto, max-content);
            top: 1.5%;
            font-size: large;
            margin: 0% 0% 0.5% 4%;
            padding: 1rem;
        }
    }

    .sdisplay {
        @include flexing;
        @include hei-width(40%, 70%);
        margin: 0% 0% 5.5% 15%;
        background-color: $color_5;
        border-radius: 15px;

        @media (max-width: 769px) {
            @include hei-width(42%, 90%);
            margin: 24% 0% 5.5% 5%;
            display: block;
        }
        @media (min-width: 770px) and (max-width: 1024px) {
            @include hei-width(50%, 84%);
            margin: 9% 0% 5.5% 8%;
            display: block;
        }

        .subject {
            @include hei-width(90%, 25%);
            margin: 0% 1% 0 0;
            .subject1 {
                @include flexing;
                @include hei-width(15%, 90%);
                margin: 12% 0 0 5%;
                font-size: 22px;
                border-radius: 20px;
                color: $color_6;
                // border: 2px dashed $color_4;
                background-color: $color_7;
                cursor: pointer;
            }

            @media (max-width: 769px) {
                @include hei-width(15%, 90%);
                margin: auto;
                .subject1 {
                    @include flexing;
                    @include hei-width(38%, 45%);
                    float: left;
                    margin: 3% 2% 2% 2.5%;
                    font-size: medium;
                    flex-wrap: wrap;
                    border-radius: 15px;
                }
            }

            @media (min-width: 770px) and (max-width: 1024px) {
                @include hei-width(16%, 75%);
                margin: auto;
                .subject1 {
                    @include flexing;
                    @include hei-width(38%, 45%);
                    float: left;
                    margin: 3.5% 2% 2% 2.5%;
                    font-size: 27px;
                    flex-wrap: wrap;
                    border-radius: 30px;
                }
            }
        }

        .metarial {
            @include hei-width(90%, 72%);
            @media (max-width: 769px) {
                @include hei-width(82.5%, 93%);
                margin: auto;
                margin-top: 2.5%;
            }
            @media (min-width: 770px) and (max-width: 1024px) {
                @include hei-width(79.5%, 93%);
                margin: auto;
                margin-top: 4.5%;
            }
            .metarial1 {
                @include flexing;
                @include hei-width(100%, 100%);
                background-color: $color_3;
                border-radius: 8px;
                display: none;
                p {
                    margin-left: 10px;
                    font-size: 17px;
                }
            }
            .metarial2 {
                @include hei-width(100%, 100%);
                background-color: $color_4;
                border-radius: 8px;

                .quizmessage {
                    @include hei-width(auto, max-content);
                    padding: 0.8rem;
                    margin: auto;
                    position: relative;
                    top: 4%;
                    font-size: 15px;
                    letter-spacing: 1px;
                    border-top: 3px solid $color_1;
                    border-bottom: 3px solid $color_1;
                    border-right: 1px solid $color_1;
                    border-left: 1px solid $color_1;
                    background-color: $color_5;
                }
                .quizno {
                    @include hei-width(45%, 80%);
                    margin: 3% 0 0 10%;
                    .quizrow1 {
                        @include hei-width(42%, 100%);
                        margin: 9% 0% 4% 0%;
                        @include quizno-display;
                    }
                    .quizrow2 {
                        @include hei-width(42%, 100%);
                        // margin: 4% 0% 4% 0%;
                        @include quizno-display;
                        .quizno2 {
                            height: auto;
                            width: max-content;
                            float: right;
                            margin-right: -4%;
                            overflow-x: visible;
                            #morearrow {
                                font-size: 35px;
                            }
                        }
                    }
                }
                .quizstartb {
                    @include hei-width(auto, max-content);
                    padding: 0.8rem;
                    margin: auto;
                    margin-top: 5%;
                    font-size: 20px;
                    letter-spacing: 2px;
                    border-radius: 15px;
                    color: $color_3;
                    background-color: $color_2;
                    cursor: pointer;
                    &:hover {
                        background-color: $color_1;
                    }
                }

                @media (max-width: 769px) {
                    border-radius: 15px;
                    .quizmessage {
                        @include hei-width(auto, max-content);
                        font-size: 10px;
                        top: 2%;
                        padding: 0.5rem;
                    }
                    .quizno {
                        @include hei-width(80%, 96%);
                        margin: 2% 0 0 2%;
                        .quizrow1 {
                            @include hei-width(44%, 100%);
                        }
                        .quizrow2 {
                            @include hei-width(44%, 100%);

                            .quizno2 {
                                height: auto;
                                width: max-content;
                                margin-right: 5%;
                                margin-top: 25%;
                                #morearrow {
                                    font-size: 20px;
                                }
                            }
                        }
                    }
                    .quizstartb {
                        margin-top: -4%;
                        font-size: 15px;
                    }
                }
                @media (min-width: 770px) and (max-width: 1024px) {
                    border-radius: 12px;
                    .quizmessage {
                        @include hei-width(auto, max-content);
                        font-size: 15px;
                        top: 3%;
                    }
                    .quizno {
                        @include hei-width(75%, 94%);
                        margin: -2% 0 0 3%;
                        .quizrow1 {
                            @include hei-width(48%, 100%);
                            margin-bottom: 4%;
                        }
                        .quizrow2 {
                            @include hei-width(48%, 100%);
                            .quizno2 {
                                height: auto;
                                width: max-content;
                                margin-right: 6%;
                                margin-top: 15%;
                                #morearrow {
                                    font-size: 20px;
                                }
                            }
                        }
                    }
                    .quizstartb {
                        margin-top: 7%;
                        font-size: 25px;
                    }
                }
            }
        }
    }
    .fquestions {
        @include hei-width(12%, 80%);
        border-radius: 30px;
        margin-left: -1.5%;
        background-color: $color_3;
        .fquestion {
            @include hei-width(40%, max-content);
            margin: 0 0 0 3%;
            padding: 0.9rem;
            #fqlogo {
                color: $color_1;
            }
            p {
                float: right;
                margin-left: 15px;
                font-size: 25px;
            }
        }
        .fanswer {
            @include hei-width(50%, 90%);
            margin: 0 0 0 7%;
            padding: 0.5rem;
            font-size: 17px;
            letter-spacing: 0.5px;
            color: $color_1;
        }

        @media (max-width: 767px) {
            @include hei-width(auto, 95%);
            border-radius: 20px;
            margin: 9% 0 0 -2.5%;

            .fquestion {
                @include hei-width(auto, auto);
                #fqlogo {
                    font-size: 20px;
                    float: left;
                }
                p {
                    font-size: 16px;
                    float: left;
                    margin-top: 0%;
                }
            }
            .fanswer {
                @include hei-width(auto, 90%);
                margin: 0% 0 0 8%;
                padding: 1rem;
                font-size: 13px;
            }
        }

        @media (min-width: 768px) and (max-width: 1024px) {
            @include hei-width(auto, 90%);
            margin-left: -2.5%;
            .fquestion {
                @include hei-width(auto, auto);
                margin: 0 0 0 3%;
                #fqlogo {
                    font-size: 30px;
                    float: left;
                    margin-top: 1%;
                }
                p {
                    font-size: 25px;
                    float: left;
                    margin-left: 2%;
                }
            }
            .fanswer {
                @include hei-width(auto, 90%);
                margin: 2% 0 0 8%;
                padding: 1rem;
                font-size: 18px;
            }
        }
    }
    .badge {
        @include flexing;
        @include hei-width(15%, 70%);
        margin: 5% 0 0 30%;
        .lbadge {
            @include flexing;
            @include hei-width(70%, 32%);
            font-size: 22px;
            letter-spacing: 2px;
            p {
                color: $color_1;
            }
        }
        .rbadge {
            @include hei-width(100%, 60%);
            .badgefirst {
                @include badge-display;
            }
            .badgesecond {
                @include badge-display;
            }
        }

        @media (max-width: 767px) {
            @include hei-width(34%, 90%);
            display: block;
            margin: 7% 0 0 5%;
            .lbadge {
                @include hei-width(10%, auto);
                font-size: 20px;
            }
            .rbadge {
                @include hei-width(90%, 100%);
            }
        }
        @media (min-width: 768px) and (max-width: 1024px) {
            @include hei-width(31%, 90%);
            margin: auto;
            display: block;
            margin-top: 3%;
            .lbadge {
                @include hei-width(10%, auto);
                font-size: 35px;
            }
            .rbadge {
                @include hei-width(90%, 100%);
            }
        }
    }
}
