$primary-color: #130914;

body {
    background-color: $primary-color;
    // background-image: url("../../public/images/question.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
