@import "./variables.scss";

// #140e18#130d17#120c16#130d19#140f16

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-family_1;
}
body {
    height: 100vh;
    width: 100%;
    background-color: $color_6;
}
.leftcolumn {
    height: 100%;
    width: 13%;
    float: left;
    border-right: 1px solid $color_5;
    background-color: $color_4;

    .logo {
        @include flexing;
        height: 7%;
        width: auto;
        // float: left;
        padding: 1rem;
        color: $color_1;
        font-size: 25px;
        background-color: $color_5;
        img {
            transform: scale(7.6);
            max-width: 100%;
            max-height: 100%;
            margin: 5% 0 -5% -11%;
        }
        .closeoption {
            display: none;
        }
        @media (min-width: 768px) and (max-width: 1023px) {
            font-size: 20px;
        }
    }
    .userprofile {
        display: flex;
        flex-direction: column;
        height: 30%;
        width: 100%;
        margin-top: 20%;
        .userdp__container {
            @include flexing;
            height: 65%;
            width: 100%;
            // padding: 0.5rem;
            #avatar {
                font-size: 100px;
                color: $color_7;
            }
            .userdp {
                width: 8vw;
                height: 8vw;
                border-radius: 50%;
                overflow: hidden;
            }
        }
        .username {
            @include flexing;
            height: 25%;
            width: 90%;
            font-size: 25px;
            color: $color_1;
            margin: 0 0 0 5%;
            border-bottom: 1px solid $color_1;
        }

        @media (min-width: 768px) and (max-width: 1023px) {
            height: 25%;
            .userdp {
                height: 55%;
                #userdp {
                    font-size: 70px;
                }
            }
            .username {
                height: 30%;
                font-size: 15px;
            }
        }
    }
    .questiontab {
        width: 75%;
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* Display in 3 columns */
        grid-gap: 1rem; /* Add some spacing between items */
        margin: auto;

        a {
            text-decoration: none;
        }

        .question_no {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 40px; /* Adjust the height as needed */
            width: 40px; /* Adjust the width as needed */
            color: $color_3;
            border-radius: 5px;
            font-size: 14px;
            font-weight: 400;
            background-color: #ffdf52;
            cursor: pointer;
        }

        @media (min-width: 768px) and (max-width: 1023px) {
            /* Add responsive styles as needed */
            .question_no {
                font-size: 10px;
            }
        }
    }

    @media (max-width: 767px) {
        display: none;
        width: 50%;
        .logo {
            font-size: 20px;
            margin: auto;
            .closeoption {
                margin-left: 30%;
                display: block;
                height: auto;
                width: max-content;
                padding: 0.3rem;
                border-radius: 5px;
                background-color: $color_1;
                color: $color_5;
                font-size: 15px;
                // .closeb {
                // }
            }
        }
    }
}
.rightcolumn {
    height: 100%;
    width: 87%;
    float: left;
    .uppertab {
        height: 7%;
        width: 100%;
        // margin: auto;
        background-color: $color_5;
        color: $color_1;
        border-bottom: 1px solid black;
        .luppertab {
            @include flexing;
            height: 100%;
            width: 40%;
            float: left;
            .logo {
                @include flexing;
                display: none;
                margin: auto;
                height: auto;
                width: max-content;
            }
            .quizname {
                @include flexing;
                height: auto;
                width: max-content;
                padding: 1rem;
                font-size: 18px;
            }
            @media (max-width: 767px) {
                width: 55%;
                .logo {
                    display: block;
                }
                .quizname {
                    width: 60%;
                    font-size: 10px;
                    padding: 0.5rem;
                }
            }
            @media (min-width: 768px) and (max-width: 1023px) {
                .quizname {
                    font-size: 14px;
                }
            }
        }
        .ruppertab {
            height: 100%;
            width: max-content;
            float: right;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 1%;
            .timeoption {
                @include flexing;
                flex-direction: column;
                height: auto;
                width: max-content;
                padding: 0 2rem;
                margin-right: 1rem;
            }
            .closeoption {
                height: auto;
                width: max-content;
                padding: 0.5rem;
                border-radius: 10px;
                background-color: $color_1;
                color: $color_5;
            }
            @media (max-width: 767px) {
                font-size: 10px;
                .timeoption {
                    padding: 0.5rem;
                }
            }
            @media (min-width: 768px) and (max-width: 1023px) {
                font-size: 14px;
            }
        }
    }
    .content {
        height: 77%;
        width: 90%;
        margin: auto;

        /* Notification styles */
        .notification {
            display: block;
            color: white;
            position: fixed;
            font-weight: bold;
            bottom: 80px;
            right: 50px;
            min-width: 150px;
            padding: 0.5rem 1rem;
            border-radius: 0.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: bottom 0.3s ease-in-out;
            animation: fadeIn 2s ease-in-out;
            .close {
                margin-left: 1rem;
                float: right;
                cursor: pointer;
                font-size: 2em;
                &:hover {
                    color: black;
                }
            }
        }
        .success {
            background-color: #238737 !important;
        }
        .warning {
            background-color: #ffc107 !important;
        }
        .error {
            background-color: #cc3d38 !important;
        }

        /* Message Modal styles */
        .message-modal {
            display: block; /* Hidden by default */
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(
                0,
                0,
                0,
                0.5
            ); /* Semi-transparent background */
            overflow: auto; /* Enable scrolling if the content overflows */

            .modal-content {
                background-color: #fff;
                margin: 15% auto;
                border: 1px solid #888;
                width: 50%;
                text-align: center;
                border-radius: 5px;
                box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);

                .modal-header {
                    color: white;
                    padding: 4%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    .icon {
                        font-size: 50px;
                        margin-right: 10px;

                        .success {
                            background-color: #4caf50 !important; /* Green for success */
                        }

                        .warning {
                            background-color: #ffc107 !important; /* Yellow for warning */
                        }

                        .error {
                            background-color: #ff5733 !important; /* Red for error */
                        }
                    }

                    h2 {
                        margin-top: 1%;
                    }
                }

                .modal-body {
                    padding: 20px;
                    color: #454d61;
                }

                /* Modal button styles */
                .modal-buttons {
                    display: flex;
                    justify-content: center;
                    padding: 20px;

                    .close-button {
                        background-color: $color_21;
                        color: #fff;
                        font-weight: 400;
                        border: none;
                        padding: 10px 20px;
                        margin-right: 10px;
                        border-radius: 5px;
                        cursor: pointer;
                    }

                    .redirect-button {
                        color: white;
                        border: none;
                        padding: 10px 20px;
                        border-radius: 5px;
                        cursor: pointer;
                        text-decoration: none;
                    }
                }
            }
        }

        .question {
            @include flexing;
            height: 25%;
            width: 90%;
            white-space: wrap;
            font-size: 30px;
            margin: auto;
            color: $color_5;
            .questionno {
                float: left;
                padding: 2rem;
                font-family: "Roboto Mono", monospace;
                #quizQuestion {
                    display: none;
                }
            }
            .questiontext {
                float: left;
                padding-top: 2rem;
                font-family: "Roboto Mono", monospace;
            }
            @media (max-width: 767px) {
                width: 96%;
                font-size: 20px;
                .questionno {
                    padding: 1rem;
                    #quizQuestion {
                        display: block;
                        font-size: 20px;
                        margin-top: -20%;
                    }
                }
                .questiontext {
                    padding-top: 3rem;
                }
            }
            @media (min-width: 768px) and (max-width: 1023px) {
                width: 96%;
                font-size: 24px;
                .questionno {
                    padding: 0.5rem;
                }
            }
        }
        .answer {
            @include flexing;
            height: 75%;
            width: 100%;
            .imoge {
                margin: auto;
                height: 100%;
                width: 40%;
                background-image: url("../../public/images/quiz.svg");
                background-size: 100% 90%;
                background-repeat: no-repeat;
                background-position: center center;
                float: left;
                @media (max-width: 767px) {
                    background-size: 110% 100%;
                }
            }
            .option {
                @include flexing;
                height: 100%;
                width: 50%;
                margin: auto;

                float: left;
                .boxoption {
                    height: 80%;
                    width: 80%;
                    display: flex;
                    flex-direction: column;
                    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.6);
                    .options {
                        @include flexing;
                        margin: auto;
                        width: 80%;
                        padding: 1rem;
                        font-size: 18px;
                        font-family: "Open Sans", sans-serif;
                        color: $color_1;
                        background-color: $color_7;
                        cursor: pointer;

                        @media (min-width: 768px) and (max-width: 1023px) {
                            font-size: 14px;
                        }
                    }
                    .selected {
                        background-color: #007bff;
                    }
                }
                @media (max-width: 767px) {
                    height: 80%;
                    .boxoption {
                        width: 90%;
                        .options {
                            font-size: 12px;
                            padding: 0.7rem;
                        }
                    }
                }
            }
        }
        @media (max-width: 767px) {
            height: 86%;
            width: 100%;
            .answer {
                margin-top: 3%;
                height: 69%;
            }
        }
        @media (min-width: 768px) and (max-width: 1023px) {
            width: 100%;
        }
    }
    .lowertab {
        @include flexing;
        height: 16%;
        width: 100%;
        .tabbutton {
            height: auto;
            width: max-content;
            padding: 0.6rem;
            color: $color_1;
            font-size: 16px;
            border-radius: 10px;
            background-color: $color_5;
            cursor: pointer;
            margin-right: 2%;
            text-decoration: none;

            @media (min-width: 768px) and (max-width: 1023px) {
                font-size: 12px;
            }
        }
        .disabled {
            background-color: rgba($color: $color_5, $alpha: 0.8);
            pointer-events: none;
        }
        @media (max-width: 767px) {
            height: 5%;
            .tabbutton {
                font-size: 9px;
                padding: 0.3rem;
                border-radius: 8px;
                text-decoration: none;
            }
        }
    }
    @media (max-width: 767px) {
        width: 100%;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
