@import "./variables.scss";
@mixin modal {
    display: none; /* Hide the modal by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $modal-background-color; /* Semi-transparent black background */
    z-index: 999;
}
@mixin modal-content-header {
    background-color: $modal-content-background-color;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    width: 90%;
    max-width: 50%;
    max-height: 90%;
    overflow-y: auto;
    margin: 2rem auto;
    .modal-header {
        text-align: center;
        margin-bottom: 20px;
        padding: 15px;
        background-color: #007bff;
        color: $modal-content-background-color;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
}
@mixin modal-footer {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    button {
        padding: 10px 20px;
        background-color: #007bff;
        color: $modal-content-background-color;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        &:hover {
            background-color: #c82333; // Darker red on hover
        }
    }
}
@mixin quiz-button {
    background: #f0f0f0;
    border: 1px solid #ddd;
    padding: 1rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.5rem;
    background-color: $color_1;
    .first-row {
        display: flex;
        justify-content: space-between;
        align-items: center;

        i {
            font-size: 30px;
            color: #efa333;
        }

        .subject-tag {
            @include flexing;
            p {
                color: #1e4467;
                font-size: 0.8em;
                letter-spacing: 1px;
                background-color: #f3f6f7;
                border-radius: 0.5rem;
                padding: 0.3rem;
            }
            #completed-icon {
                font-size: 20px;
                margin-left: 0.5rem;
                color: #3ea895;
            }
        }
    }

    .tittle {
        text-align: left;
        font-size: 1em;
        padding: 1.5rem 0 1rem;
        color: #12131b;
        font-weight: 500;
    }

    .second-row {
        display: flex;
        // justify-content: space-between;
        .attendance,
        .full-marks {
            display: flex;
            align-items: center;
            padding-right: 1rem;
            i {
                font-size: 15px;
                margin-right: 5px;
                color: #1e4467;
            }
            p {
                font-size: 13px;
                color: #1e4467;
            }
        }
    }
}

.quiz-content {
    background-color: #fafbfe;
}
.grid-heading {
    padding: 2rem 1rem 0;
    font-size: 1.1em;
    font-weight: bold;
    color: #12131b;
}
.grid-subject {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1rem;
    padding: 1rem 3rem;
    .subject {
        background: lightblue;
        padding: 1rem;
        text-align: center;
        border-radius: 0.2rem;
        cursor: pointer;
    }
}

.grid-quiz-heading {
    padding: 4rem 1rem 1rem;
    font-size: 1.1em;
    font-weight: bold;
    color: #12131b;
}
.grid-quiz-today {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 2rem;
    padding: 1rem 5rem;
    .quiz {
        @include quiz-button;
    }
}

.grid-quiz-active {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 2rem;
    padding: 1rem 5rem 3rem;

    a {
        text-decoration: none;
    }

    .quiz {
        @include quiz-button;
    }
}
.link__container {
    @include flexing;
    .grid-prev-page,
    .grid-next-page {
        @include flexing;
        padding: 0 1rem 0;
        font-size: 1.1em;
        font-weight: bold;
        cursor: pointer;
        text-decoration: none;
        color: $color_5;
    }

    span {
        cursor: none;
    }
}

/* Create post Modal */
.rules-Modal {
    @include modal;
    display: block !important;
    .modal-content {
        @include modal-content-header;
        .modal-body {
            padding: 2rem;
            @include flexing;
            width: 80%;
            margin-left: 10%;
            i {
                font-size: 40px;
            }
            p {
                padding: 1rem;
                padding-left: 2rem;
            }
        }
        .modal-footer {
            @include modal-footer;
            justify-content: center;
            a {
                text-decoration: none;
                padding: 5px 10px;
                border-radius: 5px;
                color: white;
                background: $color_5;
            }
            #closeRulesModalBtn {
                background-color: #dc3545;
                margin-left: 15px;
            }
        }
    }
}
