$color_1: white;
$color_2: black;
$color_3: #333;
$color_4: #3b3b3b;
$color_5: #149d9b;
$color_6: #ecfeff;
$header-color: #149d9b;
$background-color_1: rgba(23, 97, 110, 0.354);
$sidebar-background-color: #444;
$font-family_1: "Montserrat", sans-serif;
$header-height: 60px;

// Admin variabless
$colorr_1: #a5aaad;
$colorr_2: #2e4a66;
$colorr_3: #469cac;
$colorr_4: #cc3d38;
$colorr_5: #a98921;
$colorr_6: #3b9668;
$colorr_7: #265acc;
$colorr_8: #ffffff;
$colorr_9: #35a4ba;
$colorr_10: #38e1b0;
$colorr_11: #3a3e41;
$colorr_12: #f65a6f;
$colorr_13: #f3f4f6;
$colorr_14: #3ea175;
$colorr_15: #e65061;
$font-family_1: "Lato", sans-serif;