@import "https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap";

$color_1: white;
$color_2: black;
$color_3: #333;
$color_4: #3b3b3b;
$color_5: #149d9b;
// $color_5: #416867;
$color_6: #ecfeff;
$color_7: #ef5c5c;
$color_8: #00000033;
$color_9: #a1fa6e;
$color_10: #ffdf52;
$color_11: #00000033;
$header-color: #149d9b;
$background-color_1: rgba(23, 97, 110, 0.354);
$sidebar-background-color: #444;
$font-family_1: "Montserrat", sans-serif;
$header-height: 60px;

@mixin flexing {
    display: flex;
    align-items: center;
    justify-content: center;
}
