$color_1: white;
$color_2: black;
$color_3: #333;
$color_4: #3b3b3b;
$color_5: #149d9b;
$color_6: #ecfeff;
$header-color: #149d9b;
$background-color_1: rgba(23, 97, 110, 0.354);
$sidebar-background-color: #444;
$font-family_1: "Montserrat", sans-serif;
$header-height: 60px;

// Admin variabless
$color_7: #a5aaad;
$color_8: #2e4a66;
$color_9: #469cac;
$color_10: #cc3d38;
$color_11: #a98921;
$color_12: #3b9668;
$color_13: #265acc;
$color_14: #ffffff;
$color_15: #35a4ba;
$color_16: #38e1b0;
$color_17: #3a3e41;
$color_18: #f65a6f;
$color_19: #f3f4f6;
$color_20: #3ea175;
$color_21: #e65061;
$color_22: #f7f7f6;
$color_24: #566787;
$color_25: #fff;
$color_23: #10c469;
$color_26: #62c9e8;
$color_27: #ffc107;
$color_28: #ff5b5b;
$color_29: #999;
$color_30: #666;
$color_31: #299be4;
$color_32: #00000066;
$background-color_24: #fcfcfc;
$background-color_2: #f5f5f5;
$font-family_1: "Lato", sans-serif;
$font-family_1: "Roboto", sans-serif;

@mixin flexing {
    display: flex;
    align-items: center;
    justify-content: center;
}
