@import "../variables";

@mixin modal {
    display: none; /* Hide the modal by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $modal-background-color; /* Semi-transparent black background */
    z-index: 999;
}
@mixin modal-content-header {
    background-color: $modal-content-background-color;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    width: 90%;
    max-width: 50%;
    max-height: 90%;
    overflow-y: auto;
    margin: 2rem auto;
    .modal-header {
        text-align: center;
        margin-bottom: 20px;
        padding: 15px;
        background-color: #007bff;
        color: $modal-content-background-color;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
}
@mixin modal-footer {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    button {
        padding: 10px 20px;
        background-color: #007bff;
        color: $modal-content-background-color;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        &:hover {
            background-color: #c82333; // Darker red on hover
        }
    }
}
.profilePage {
    @include flexing;
    height: 90vh;
    width: 100%;
    background-color: $color_6;
}

.error-txt {
    color: $color_21;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-family_1;
}

.loginPage {
    @include flexing;
    height: 110vh;
    width: 100%;
    background-color: $color_6;
}

.login {
    padding: 2rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    height: 80%;
    width: 35%;
    background-color: $color_1;

    .loginHeader {
        @include flexing;
        gap: 0.5rem;
        height: 30%;
        width: 100%;
        padding: 1rem;
        #loginlogo {
            font-size: 7rem;
            color: $color_5;
        }
    }
    .loginSection {
        height: 60%;
        width: 100%;
        margin: auto;
        padding: 1rem;
        $primary-color: #5372f0;
        $error-color: #dc3545;
        // Keyframes for shake animation
        @keyframes shake {
            0%,
            100% {
                margin-left: 0px;
            }
            20%,
            80% {
                margin-left: -12px;
            }
            40%,
            60% {
                margin-left: 12px;
            }
        }

        // Selection styles
        ::selection {
            color: #fff;
            background: #5372f0;
        }

        // Main wrapper styles

        form {
            height: 100%;
            width: 100%;
            margin: auto;
            @include flexing;
            flex-direction: column;

            .field {
                width: 90%;
                height: 20%;
                margin-bottom: 1.5rem;
                &.shake {
                    animation: shake 0.3s ease-in-out;
                }

                .input-area {
                    height: 100%;
                    width: 100%;
                    position: relative;

                    input {
                        width: 100%;
                        height: 100%;
                        outline: none;
                        padding: 0 45px;
                        font-size: 18px;
                        background: none;
                        caret-color: $primary-color;
                        border-radius: 5px;
                        border: 1px solid #bfbfbf;
                        border-bottom-width: 2px;
                        transition: all 0.2s ease;

                        &:focus,
                        &.valid {
                            border-color: $primary-color;
                        }

                        &.shake,
                        &.error {
                            border-color: $error-color;
                        }

                        &::placeholder {
                            color: #bfbfbf;
                            font-size: 17px;
                        }
                    }

                    i {
                        position: absolute;
                        top: 50%;
                        font-size: 18px;
                        pointer-events: none;
                        transform: translateY(-50%);

                        &.icon {
                            left: 15px;
                            color: #bfbfbf;
                            transition: color 0.2s ease;
                        }

                        &.error-icon {
                            right: 15px;
                            color: $error-color;
                        }

                        input:focus ~ &.icon,
                        .field.valid &.icon {
                            color: $primary-color;
                        }

                        .field.shake input:focus ~ &.icon,
                        .field.error input:focus ~ &.icon {
                            color: #bfbfbf;
                        }
                    }
                }

                .error-txt {
                    color: $error-color;
                    text-align: left;
                    margin-top: 5px;
                }

                &.shake .error,
                &.error .error {
                    display: block;
                }
            }

            .pass-txt {
                width: 90%;
                height: 10%;
            }

            a {
                color: $primary-color;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }

            input[type="submit"] {
                height: 15%;
                color: #fff;
                width: 20%;
                border: none;
                background: $color_5;
                cursor: pointer;
                border-bottom: 2px solid rgba(0, 0, 0, 0.1);
                transition: all 0.3s ease;
                font-size: 18px;
                margin-top: 1rem;
                &:hover {
                    background: #2c52ed;
                }
            }
        }
    }
    .loginFooter {
        @include flexing;
        height: 10%;
        width: 100%;
        a {
            text-decoration: none;
        }
    }
}

.otpModal {
    @include modal;
    display: block !important;
    .modal-content {
        @include modal-content-header;
        .modal-body {
            padding: 1rem;
            p {
                margin-bottom: 1rem;
            }
            label {
                display: block;
                margin-bottom: 10px;
                font-weight: bold;
            }
            input {
                width: 100%;
                padding: 10px;
                border: 1px solid #ccc;
                border-radius: 4px;
                margin-bottom: 15px;
            }
        }
        .modal-footer {
            @include modal-footer;
            #resendOTPBtn{
                background-color: transparent;
                color: #10c469;
                margin-right: 80px;
                letter-spacing: 1px;
                &:hover{
                    background-color: #10c469;
                    color: $color_1;
                }
            }
            #cancelOTPBtn {
                background-color: #dc3545;
                margin-left: 10px;
            }
        }
    }
}

.forgotPasswordModal {
    @include modal;
    .modal-content {
        @include modal-content-header;
        .modal-body {
            padding: 1rem;
            p {
                margin-bottom: 1rem;
            }
            label {
                display: block;
                margin-bottom: 10px;
                font-weight: bold;
            }
            input {
                width: 100%;
                padding: 10px;
                border: 1px solid #ccc;
                border-radius: 4px;
                margin-bottom: 15px;
            }
        }
        .modal-footer {
            @include modal-footer;
            #cancelForgotPasswordBtn {
                background-color: #dc3545;
                margin-left: 10px;
            }
        }
    }
}
