@import "../variables";

.setNewPasswordPage {
    @include flexing;
    height: 110vh;
    width: 100%;
    background-color: $color_6;
}

.setNewPassword {
    padding: 2rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    height: 80%;
    width: 35%;
    background-color: $color_1;
    .setNewPasswordHeader {
        @include flexing;
        gap: 0.5rem;
        height: 30%;
        width: 100%;
        padding: 1rem;
        color: $color_5;
        #loginlogo {
            font-size: 4rem;
        }
        p {
            font-size: 1.5rem;
            margin-left: .5rem;
        }
    }
    .setNewPasswordSection {
        height: 60%;
        width: 100%;
        margin: auto;
        padding: 1rem;
        $primary-color: #5372f0;
        $error-color: #dc3545;
        // Keyframes for shake animation
        @keyframes shake {
            0%,
            100% {
                margin-left: 0px;
            }
            20%,
            80% {
                margin-left: -12px;
            }
            40%,
            60% {
                margin-left: 12px;
            }
        }

        // Selection styles
        ::selection {
            color: #fff;
            background: #5372f0;
        }

        // Main wrapper styles

        form {
            height: 100%;
            width: 100%;
            margin: auto;
            @include flexing;
            flex-direction: column;

            .field {
                width: 90%;
                height: 20%;
                margin-bottom: 1.5rem;
                &.shake {
                    animation: shake 0.3s ease-in-out;
                }

                .input-area {
                    height: 100%;
                    width: 100%;
                    position: relative;

                    input {
                        width: 100%;
                        height: 100%;
                        outline: none;
                        padding: 0 45px;
                        font-size: 18px;
                        background: none;
                        caret-color: $primary-color;
                        border-radius: 5px;
                        border: 1px solid #bfbfbf;
                        border-bottom-width: 2px;
                        transition: all 0.2s ease;

                        &:focus,
                        &.valid {
                            border-color: $primary-color;
                        }

                        &.shake,
                        &.error {
                            border-color: $error-color;
                        }

                        &::placeholder {
                            color: #bfbfbf;
                            font-size: 17px;
                        }
                    }

                    i {
                        position: absolute;
                        top: 50%;
                        font-size: 18px;
                        pointer-events: none;
                        transform: translateY(-50%);

                        &.icon {
                            left: 15px;
                            color: #bfbfbf;
                            transition: color 0.2s ease;
                        }

                        &.error-icon {
                            right: 15px;
                            color: $error-color;
                        }

                        input:focus ~ &.icon,
                        .field.valid &.icon {
                            color: $primary-color;
                        }

                        .field.shake input:focus ~ &.icon,
                        .field.error input:focus ~ &.icon {
                            color: #bfbfbf;
                        }
                    }
                }

                .error-txt {
                    color: $error-color;
                    text-align: left;
                    margin-top: 5px;
                }

                &.shake .error,
                &.error .error {
                    display: block;
                }
            }

            .pass-txt {
                width: 90%;
                height: 10%;
            }

            a {
                color: $primary-color;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }

            input[type="submit"] {
                color: #fff;
                width: max-content;
                padding: 0.6rem 1rem;
                border: none;
                background: $color_5;
                cursor: pointer;
                border-bottom: 2px solid rgba(0, 0, 0, 0.1);
                transition: all 0.3s ease;
                font-size: 18px;
                margin-top: 1rem;
                &:hover {
                    background: #2c52ed;
                }
            }
        }
    }
    .setNewPasswordFooter {
        @include flexing;
        height: 10%;
        width: 100%;
        a {
            text-decoration: none;
        }
    }
}
